.AccordianItem {
  width: 50%;
}

.AccordianHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.AccordianInfo {
}

.accordian {
  display: flex;
  flex-direction: column;
  align-items: center;
}
