.products {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.products__single {
  height: 250px;
  padding: 20px;
  text-align: center;
  align-items: center;
}

.products__single > img {
  height: 95%;
  width: 100%;
  object-fit: cover;
}

.pagination {
  padding: 10px;
  margin: 20px 0;
  text-align: center;
}

.pagination > span {
  padding: 5px;
  border: 1px solid gray;
  cursor: pointer;
}

.pagination .selected {
  background-color: gray;
}

.pagination .disable {
  opacity: 0.5;
  pointer-events: none;
}
