body {
  font-family: sans-serif;
}

.tabContent {
  display: none;
}

.tabLinks {
  padding: 10px 20px;
  margin: 5px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.tabLinks:hover {
  background-color: #ddd;
}

.tabLinks.active {
  background-color: #ddd;
  color: #333;
}

.tabContent.active {
  display: block;
}
